<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whisker Rebel | Product Details |</title>
    <!-- FAVICON -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/favicon_package/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon_package/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicon_package/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/img/favicon_package/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/img/favicon_package/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="\style\reset.css" />
    <link rel="stylesheet" href="\style\variables.css" />
    <link
      rel="stylesheet"
      href="\@fortawesome\fontawesome-free\css\all.min.css"
    />
    <link rel="stylesheet" href="\swiper\swiper-bundle.min.css" />
    <link rel="stylesheet" href="\style\common.css" />
    <link rel="stylesheet" href="\style\product.css" />
    <!-- SCRIPTS -->
    <script src="\swiper\swiper-bundle.min.js" defer></script>
    <script src="\app\swiper-product.js" defer></script>
    <!-- <script src="\app\main.js" defer></script> -->
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <article class="product-details wrapper">
        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="<%= product.coverImage %>" />
            </div>
            <div class="swiper-slide">
              <img src="<%= product.coverImage %>" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="product-details__info">
          <h1 class="product-details__heading"><%= product.name %></h1>
          <p class="product-details__text"><%= product.description %></p>
          <div>
            <span class="product-details__price"><%= product.price %></span>
            <span class="product-details__color">COLOR:</span>
          </div>
          <div class="product-details__buttons">
            <button class="product-details__button-buy">BUY NOW</button>
            <button class="product-details__button-cart">ADD TO CART</button>
          </div>
          <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="<%= product.coverImage %>" />
              </div>
              <div class="swiper-slide">
                <img src="<%= product.coverImage %>" />
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
    <%- include('footer.ejs') %>
  </body>
</html>
